<div id='helping' > 
    <div id='filter' >
        <div class="sRow">
            Time (yrs):<input class="inp" id="yrFrom" (keyup)="onKey($event)" value="2010"> 
            <input class="inp" id="yrTo" (keyup)="onKey($event)" value="2018">
        </div>
        <div class="sRow" >
            Magnitude:<input class="inp" id="magFrom" (keyup)="onKey($event)" value="2.4">
            <input class="inp" id="magTo" (keyup)="onKey($event)" value="10">
        </div>
        <div class="sRow">        
            Depth:<input class="inp" id="depthFrom" (keyup)="onKey($event)" value="-1">
            <input class="inp" id="depthTo" (keyup)="onKey($event)" value="120">
        </div>
        <div class="sRow" >
            <input type=button id="showButton" (click)=checkYears($event) value="Show" style="border-radius: 5px;height: 25px;width: 100px;margin-top: 10px; margin-right: 10px; "> 
        </div>
        
    </div>
    <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>  -->

    <svg id="histo"style="width:76%;height:80px; color: white; background-color: rgb(66, 64, 64,0.82);border-radius: 5px;"> </svg>
<!-- text after colorSelect-->
    <div id ='colorSelect' >
	<p id="scale1">0 &#8804; mag < 3.9</p>
	<p id="scale2">3.9 &#8804; mag < 4.9</p>
	<p id="scale3">4.9 &#8804; mag < 5.9</p>
	<p id="scale4">5.9 &#8804; mag < 6.9</p>
	<p id="scale5">6.9 &#8804; mag < 7.9</p>
	<p id="scale6">7.9 &#8804; mag </p>
            
        <div id="colRad">
            <div class="sRow">                    
                <label for="male" >Amount</label><br>
                <input type="radio" id="amt" name="layCol" value="nQuakes"(click)="chLayCol($event)" >
                <!-- <input type="radio" id="amt" name="layCol" value="nQuakes" (click)="chLayCol($event)">-->
            </div>
            <div class="sRow">
                <label for="female">Mag</label><br>
                <!--<img id ="magnitudepic"src="assets/img/earthquake.png"> -->
                <input type="radio" id="mag" name="layCol" value="mag" (click)="chLayCol($event)">
                
            </div>
            <div class="sRow">        
                <label for="other">Depth</label> 
                <input type="radio" id="depth" name="layCol" value="depth" (click)="chLayCol($event)" checked> 
            </div>   
        </div>
    </div>
</div>
<div id='main'></div>
